<%= @cfg.each do |cfg| %>
  <div class="input-group">
    <span class="input-group-addon"><%= cfg.name %></span>
    <%= input_tag id: cfg.name, class: "form-control", value: cfg.value %>
  </div>
<% end %>