<p>
  <strong>Keyfile type</strong>
  <%= @keyfile.keyfile_type %>
</p>

<% dataindex = ['bios', 'winver', 'issixtyfourbit', 'winreleaseid', 'winacttype', 'winupdatecheck', 'bitlockerstatus', 'useraccount', 'accountlogo', 'wallpaper', 'fonts', 'servicewinupdate', 'startuponedrive', 'securityhealth', 'settingfeedback', 'settingnotify1', 'settingnotify2', 'settingwifi', 'powerplan', 'trayicon', 'uac', 'autorun', 'wirelessautoconnect', 'devicemanager', 'eventviewapp', 'eventviewsys', 'chromever', 'edgenewtab', 'edgehomebutton', 'edgehomepagebutton', 'firefoxver', 'flashver', 'javaver', 'mcafeeagentver', 'mcafeevsever', 'officever', 'vlcver', 'vlcconf', 'sevenzipver', 'flashsettings', 'startupjava', 'vlcshortcut', 'pptshortcut', 'timershortcut', 'wmpshortcut', 'mcafeelastupdate', 'officepptfix', 'act', 'offact', 'eclear', 'updatescript', 'description'] %>

<% dataindex.each do |x| %>
  <p>
    <strong><%= x.capitalize %>:</strong>
    <%= @keyfile.send(x) %>
  </br/>
  </p>
<% end %>
