<p>
  <strong>Keyfile type</strong>
  <%= @keyfile.keyfile_type %>
</p>

<% dataindex = ['bios', 'winver', 'issixtyfourbit', 'winreleaseid', 'winacttype', 'winupdatecheck', 'bitlockerstatus', 'useraccount', 'accountlogo', 'wallpaper', 'fonts', 'wirelessautoconnect', 'devicemanager', 'eventviewapp', 'eventviewsys', 'edgenewtab', 'edgehomebutton', 'edgehomepagebutton', 'firefoxver', 'officever', 'act', 'offact', 'eclear', 'updatescript', 'description', 'legalnotice', 'officeinstructions'] %>
<% dataindex.each do |x| %>
  <p>
    <strong><%= x.capitalize %>:</strong>
    <%= @keyfile.send(x) %>
  </br/>
  </p>
<% end %>
