<div class="col-md-2">

  <div class="row">
    <h1>Operating Systems</h1>
  </div>

  <div class="row">
    <div class="list-group">
      <% @oses.each do |os| %>
        <%= link_to os.name, edit_ose_path(os), class: "list-group-item" %>
      <% end %>
    </div>
  </div>

</div>