<div class="btn-group mb-2">
    <% if cz.is_enabled == 0 %>
        <%= link_to 'Enable', changeCZStatus_path(cz), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Disable', changeCZStatus_path(cz), class: "btn btn-sm btn-outline-primary disabled" %>
    <% else %>
        <%= link_to 'Enable', changeCZStatus_path(cz), class: "btn btn-sm btn-outline-primary disabled" %>
        <%= link_to 'Disable', changeCZStatus_path(cz), class: "btn btn-sm btn-primary" %>
    <% end %>
</div>