<div class="col-xs-2">
  <%= render 'clonezilla_versions/assets/listCV' %>
</div>

<div class="col-xs-8 col-xs-offset-1">
  <div class="row">
    <h1><%= @cv.name %></h1>
    <hr>
  </div>

  <div class="row">
    <%= form_for @config do |f| %>


    <% end %>
  </div>

</div>