<%= form_with model: @qa, local: true do |form| %>
  <div class="actions">
    <%= hidden_field_tag 'keyfileid', @qas.id %>
    
    <% dataindex = ['idsid', 'workorder', 'hostname', 'capturedate', 'imagedescription', 'imagetype', 'imageinitials', 'mac', 'uuid', 'bios', 'legalnotice', 'winver', 'issixtyfourbit', 'winreleaseid', 'winacttype', 'winupdatecheck', 'bitlockerstatus', 'useraccount', 'accountlogo', 'wallpaper', 'fonts', 'servicewinupdate','startuponedrive', 'securityhealth', 'settingfeedback', 'settingnotify1', 'settingnotify2', 'settingwifi', 'powerplan', 'trayicon', 'uac', 'autorun', 'wirelessautoconnect', 'devicemanager', 'eventviewapp', 'eventviewsys', 'chromever', 'edgenewtab', 'edgehomebutton', 'edgehomepagebutton', 'firefoxver', 'flashver', 'javaver', 'mcafeeagentver', 'mcafeevsever', 'officever', 'vlcver', 'vlcconf', 'sevenzipver', 'flashsettings', 'startupjava', 'vlcshortcut', 'pptshortcut', 'timershortcut', 'wmpshortcut', 'mcafeelastupdate', 'officepptfix', 'act', 'offact', 'eclear', 'updatescript', 'description', 'officeinstructions'] %>

    <% dataindex.each do |x| %>
      <%= hidden_field_tag x, params[x] %>
    <% end %>
    <%= form.submit %>
  </div>
<% end %>
