<div class="current">
BIOS: Version;VARIES - Check Manually,
Windows: Version;VARIES - Check Manually,
Windows: Release ID;1709,
Windows: Activation Type;VOLUME_KMSCLIENT channel,
Windows: Updates Last Checked;VARIES - Check Manually,
User Account;Intel,
Intel Account Logo;Check Manually,
Intel Wallpaper;1920x1200_[16x10].jpg,
Intel Fonts;Installed,
Service: Windows Update;Disabled,
Startup: OneDrive;Disabled,
Setting: Feedback;Disabled,
Setting: Notifications1;Disabled,
Setting: Notifications2;Disabled,
Setting: WifiSense and WifiPaid;Disabled,
Power Plan;VARIES - Check Manually,
Show All Tray Icons;Enabled,
UAC;Disabled,
Auto Run;Disabled,
Wireless Auto Connect;DemoDepot5G DemoDepot,
Device Manager;0 Issue(s),
Event Viewer App;0 (C) 0 (E) 0 (W),
Event Viewer Sys;0 (C) 0 (E) 0 (W),
Chrome: Version;59.0.3071.115,
Edge: New Tab;Blank Page,
Edge: Home Button;Enabled,
Edge: Homepage Button;http://www.intel.com,
Firefox: Version;54.0 (x86 en-US),
Flash: Version;26.0.0.131,
Java: Version;1.8_11.131.2,
McAfee Agent: Version;5.0.5.658,
McAfee VSE: Version;8.8.0.1804 Patch_9,
MS Office: Version;Microsoft Office Professional Plus 2013,
VLC: Version;2.2.6,
7Zip: Version;N/A,
Office PPT Fix;Installed,
McAfee Latest Update;VARIES - Check Manually,
Setting: Flash Configuration;Disabled,
Startup: Java;Disabled,
Shortcut: VLC;Found,
Shortcut: PowerPoint;Found,
Shortcut: Timer;Found,
Shortcut: WMP;Found,
act;Found,
offact;Found,
eclear;Found,
update;Found,
Computer Description;VARIES - Check Manually
</div>

<div class="future">
BIOS: Version;VARIES - Check Manually,
Windows: Version;VARIES - Check Manually,
Windows: Release ID;1709,
Windows: Activation Type;VOLUME_KMSCLIENT channel,
Windows: Updates Last Checked;VARIES - Check Manually,
User Account;Intel,
Intel Account Logo;Check Manually,
Intel Wallpaper;1920x1200_[16x10].jpg,
Intel Fonts;Installed,
Service: Windows Update;Disabled,
Startup: OneDrive;Disabled,
Setting: Feedback;Disabled,
Setting: Notifications1;Disabled,
Setting: Notifications2;Disabled,
Setting: WifiSense and WifiPaid;Disabled,
Power Plan;VARIES - Check Manually,
Show All Tray Icons;Enabled,
UAC;Disabled,
Auto Run;Disabled,
Wireless Auto Connect;DemoDepot5G DemoDepot,
Device Manager;0 Issue(s),
Event Viewer App;0 (C) 0 (E) 0 (W),
Event Viewer Sys;0 (C) 0 (E) 0 (W),
Chrome: Version;59.0.3071.115,
Edge: New Tab;Blank Page,
Edge: Home Button;Enabled,
Edge: Homepage Button;http://www.intel.com,
Firefox: Version;54.0 (x86 en-US),
Flash: Version;26.0.0.131,
Java: Version;1.8_11.131.2,
McAfee Agent: Version;5.0.5.658,
McAfee VSE: Version;8.8.0.1804 Patch_9,
MS Office: Version;Microsoft Office Professional Plus 2013,
VLC: Version;2.2.6,
7Zip: Version;N/A,
Office PPT Fix;Installed,
McAfee Latest Update;VARIES - Check Manually,
Setting: Flash Configuration;Disabled,
Startup: Java;Disabled,
Shortcut: VLC;Found,
Shortcut: PowerPoint;Found,
Shortcut: Timer;Found,
Shortcut: WMP;Found,
act;Found,
offact;Found,
eclear;Found,
update;Found,
Computer Description;VARIES - Check Manually
</div>

<div class="past">
BIOS: Version;VARIES - Check Manually,
Windows: Version;VARIES - Check Manually,
Windows: Release ID;1709,
Windows: Activation Type;VOLUME_KMSCLIENT channel,
Windows: Updates Last Checked;VARIES - Check Manually,
User Account;Intel,
Intel Account Logo;Check Manually,
Intel Wallpaper;1920x1200_[16x10].jpg,
Intel Fonts;Installed,
Service: Windows Update;Disabled,
Startup: OneDrive;Disabled,
Setting: Feedback;Disabled,
Setting: Notifications1;Disabled,
Setting: Notifications2;Disabled,
Setting: WifiSense and WifiPaid;Disabled,
Power Plan;VARIES - Check Manually,
Show All Tray Icons;Enabled,
UAC;Disabled,
Auto Run;Disabled,
Wireless Auto Connect;DemoDepot5G DemoDepot,
Device Manager;0 Issue(s),
Event Viewer App;0 (C) 0 (E) 0 (W),
Event Viewer Sys;0 (C) 0 (E) 0 (W),
Chrome: Version;59.0.3071.115,
Edge: New Tab;Blank Page,
Edge: Home Button;Enabled,
Edge: Homepage Button;http://www.intel.com,
Firefox: Version;54.0 (x86 en-US),
Flash: Version;26.0.0.131,
Java: Version;1.8_11.131.2,
McAfee Agent: Version;5.0.5.658,
McAfee VSE: Version;8.8.0.1804 Patch_9,
MS Office: Version;Microsoft Office Professional Plus 2013,
VLC: Version;2.2.6,
7Zip: Version;N/A,
Office PPT Fix;Installed,
McAfee Latest Update;VARIES - Check Manually,
Setting: Flash Configuration;Disabled,
Startup: Java;Disabled,
Shortcut: VLC;Found,
Shortcut: PowerPoint;Found,
Shortcut: Timer;Found,
Shortcut: WMP;Found,
act;Found,
offact;Found,
eclear;Found,
update;Found,
Computer Description;VARIES - Check Manually
</div>