<div class="col-xs-2">

  <% if @category != nil %>
    <%= link_to category_path(@category), class: "btn btn-sm btn-warning" do %>
    <span class="glyphicon glyphicon-arrow-left"></span><%= " Back to #{@category.name}" %>
    <% end %>
  <% end %>

  <div class="page-header">
    <h2><%= @category.name %></h2>
  </div>

  <div class="list-group">
    <% @category.systems.order(:name).each do |l| %>
      <%= link_to l.name, category_system_path(@category, l), class: "list-group-item" %>
    <% end %>
  </div>

</div>