<div class="page-header">
  <h2><%= @category.name %></h2>
</div>

<div class="list-group">
  <% @category.systems.all.each do |l| %>
    <%= link_to l.name, category_system_path(@category, l), class: "list-group-item" %>
  <% end %>
</div>

