<div class="col-md-2">

  <%= link_to category_system_path(@category, @system), class: "btn btn-sm btn-warning" do %>
    <span class="glyphicon glyphicon-arrow-left"></span><%= " Back to #{@system.name}" %>
  <% end %>

  <div class="page-header">
    <h3><%= @system.name %></h3>
  </div>

    <div class="list-group">
    <% @images.order(:name).each do |image| %>
      <%= link_to image.name, edit_category_system_image_path(@category, @system, image), class: "list-group-item" %>
    <% end %>
    </div>

</div><!-- End of Column -->