<div class="col-md-2">

    <div class="list-group">
    <% @images.each do |image| %>
      <%= link_to image.name, edit_category_system_image_path(@category, @system, image), class: "list-group-item" %>
    <% end %>
    </div>

</div><!-- End of Column -->