<% @cfg.each do |cfg| %>
  <%= form_for cfg do |f| %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= f.submit 'Update', class: "btn btn-outline-secondary" %>
      </div>
        <%= f.label cfg.name, class: "input-group-text" %>
        <%= f.text_area :value, class: "form-control" %>
    </div>
  <% end %>
    <br />
<% end %>