<div class="btn-group m-2">
    <% if location.enabled == 0 %>
        <%= link_to 'Enable', changeLocStatus_path(location), class: "btn btn-sm btn-primary" %>
        <%= link_to 'Disable', changeLocStatus_path(location), class: "btn btn-sm btn-outline-primary disabled" %>
    <% else %>
        <%= link_to 'Enable', changeLocStatus_path(location), class: "btn btn-sm btn-outline-primary disabled" %>
        <%= link_to 'Disable', changeLocStatus_path(location), class: "btn btn-sm btn-primary" %>
    <% end %>
</div>