<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash.alert.each do |msg| %>
      <%= msg %>
    <% end %>
  </div>

<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>